<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Ryan Bugden</string>
	<key>developerURL</key>
	<string>https://ryanbugden.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>edit_font_dimensions.py</string>
	<key>name</key>
	<string>Edit Font Dimensions</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>4b</string>
	<key>timeStamp</key>
	<real>1715791301.162712</real>
	<key>version</key>
	<string>2.2.1</string>
</dict>
</plist>
